@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0051AF;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: #e6f0ff;
  --color-primary-100: #cce0ff;
  --color-primary-200: #99c2ff;
  --color-primary-300: #66a3ff;
  --color-primary-400: #3385ff;
  --color-primary-500: #0051AF;
  --color-primary-600: #00418c;
  --color-primary-700: #003169;
  --color-primary-800: #002046;
  --color-primary-900: #001023;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
